*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: rem($font-size-base);
  font-family: $font-primary-medium;
}

.background-image-reset {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}