.spacer {
  &__pb {
      &--xs {
        padding-bottom: $spacer-xs;
      }

      &--sm {
        padding-bottom: $spacer-sm;
      }

      &--md {
        padding-bottom: $spacer-md;
      }

      &--lg {
        padding-bottom: $spacer-lg;
      }

      &--xl {
        padding-bottom: $spacer-xl;
      }

      &--xxl {
        padding-bottom: $spacer-xxl;
      }
  }

  &__pt {
    &--xs {
      padding-top: $spacer-xs;
    }

    &--sm {
      padding-top: $spacer-sm;
    }

    &--md {
      padding-top: $spacer-md;
    }

    &--lg {
      padding-top: $spacer-lg;
    }

    &--xl {
      padding-top: $spacer-xl;
    }

    &--xxl {
      padding-top: $spacer-xxl;
    }
  }

  &__mb {
    &--xs {
      margin-bottom: $spacer-xs;
    }

    &--sm {
      margin-bottom: $spacer-sm;
    }

    &--md {
      margin-bottom: $spacer-md;
    }

    &--lg {
      margin-bottom: $spacer-lg;
    }

    &--xl {
      margin-bottom: $spacer-xl;
    }

    &--xxl {
      margin-bottom: $spacer-xxl;
    }
  }

  &__mt {
    &--xs {
      margin-top: $spacer-xs;
    }

    &--sm {
      margin-top: $spacer-sm;
    }

    &--md {
      margin-top: $spacer-md;
    }

    &--lg {
      margin-top: $spacer-lg;
    }

    &--xl {
      margin-top: $spacer-xl;
    }

    &--xxl {
      margin-top: $spacer-xxl;
    }
  }
}