.section {
  &__home {
    &__image {
      &--offset {
        //transform: translateY(-60px);
      }
    }
  }

  &__attraction-to-content {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  &__attraction-to-content-full {
    height: 100vh;
    width: 100%;
  }
}