.arrow-style {
  width: 10px;
  height: 10px;
  border-right: 2px solid $color-primary;
  border-bottom: 2px solid $color-primary;
  transform: rotate(45deg);
}

@mixin arrow($position: right) {
  @if $position == right {
    &::after {
      @include pseudo(block, static);
      @extend .arrow-style;
    }
  } @else {
    &::before {
      @include pseudo(block, static);
      @extend .arrow-style;
    }
  }
}

@mixin arrow-absolute($position: right) {
  &::after {
    @include pseudo(block, absolute);
    @include transition-basic(transform);
    @extend .arrow-style;
    top: 50%;
    transform: translateY(-75%) rotate(45deg);

    @if $position == right {
        right: 0;
    } @else {
        left: 0;
    }
  }

  &.active {
    &::after {
      transform: translateY(-25%) rotate(225deg);
    }
  }
}