$color-primary: #000000;
$color-secondary: #FFAC12;
$color-grey-0: #F5F5F5;

$background-linear-primary-secondary-normal: linear-gradient(to right ,#FFAC12, $color-primary);
$background-linear-primary-secondary-dark: linear-gradient(#271A00, $color-primary);
