$html-font-size: 16px;
$font-size-base: 14px;
$font-size-sm: 20px;
$font-size-md: 24px;
$font-size-lg: 50px;
$font-size-xl: 80px;

$font-primary-bold: 'DMSans Bold';
$font-primary-medium: 'DMSans Medium';
$font-primary-regular: 'DMSans Regular';
