$font-size: (
  html-default: 16px,
  xxs: 11px,
  xs: 14px,
  sm: 20px,
  md: 24px,
  lg: 50px,
  xl: 80px,
);

$font-primary-bold: 'DMSans Bold';
$font-primary-medium: 'DMSans Medium';
$font-primary-regular: 'DMSans Regular';