.filter {
  &__default {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    height: 120px;
    border-radius: rem($radius-md);

    .select {
      &__container {
        &:not(:last-child) {
          border-right: 1px solid $color-grey-1;
        }
      }

      &__content {
        &__wrapper {
          margin-top: - rem($radius-md);
        }
      }
    }
  }
}

