.background-image-reset {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image {
  &__side-screen {
    position: absolute;
    z-index: 1;

    &--left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }

  &__wrapper {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__radius {
    &--bottom {
      &--right {
        &--lg {
          border-bottom-right-radius: $spacer-lg;
        }
      }
    }
  }
}