.text {
  &--xl {
    @include font-size("xl");
    line-height: rem(map-get($font-size, "xl"));
  }

  &--lg {
    @include font-size("lg");
  }

  &--md {
    @include font-size("md");
  }

  &--sm {
    @include font-size("sm");
  }

  &--bold {
    font-family: $font-primary-bold;
  }

  &--light {
    font-family: $font-primary-regular;
    font-weight: lighter;
  }
}